<!-- <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">AG-Grid
        <a href="#" data-perform="panel-collapse" data-toggle="tooltip" title="Collapse Panel" class="pull-right">
          <em class="fa fa-minus"></em>
        </a>
      </div>
      
          <ag-grid-angular 
          style="width: 500px; height: 500px;" 
          class="ag-theme-balham"
          [rowData]="stocks1" 
          [columnDefs]="columnDefs">
        </ag-grid-angular>
    
      <div class="panel-footer">
        <div class="row">
          <div class="col-lg-2">

        </div>
      </div>
    </div>
  </div> -->